name: lint, test and build image
on: [pull_request, push]

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version-file: go.mod

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v4
      with:
        args: --config .golangci.yml --timeout 2m
        version: v1.56.2

    - name: Test
      run: go test ./...

  verify-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: Generate docs
        run: make gen-docs

      - name: Verify docs are up to date
        run: git diff | (! grep .)

  build:
    runs-on: ubuntu-latest
    needs: [lint-test, verify-docs]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version-file: go.mod

      - name: build binary
        run: make build-linux

      - name: Inspect action SARIF report
        run: cat ${{ steps.scan.outputs.sarif }}
        if: always()
